.header_tabela {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 24px;

  p {
    font-size: 12px;
    font-weight: 400;
    color: var(--subtexto);
  }
}

.fallback {
  width: 100%;
  color: var(--subtexto);
  text-align: center;
}

.lista_tabela {
  display: grid;
  gap: 8px;
  margin-bottom: 30px;

  .item_tabela {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--sub-background);
    box-shadow: var(--shadow);
    padding: 20px 24px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: scale(1);
    gap: 20px;

    .info_personagem {
      display: flex;
      align-items: center;
      gap: 16px;

      .foto_personagem {
        width: 48px;
        height: 48px;
        border-radius: 4px;
        object-fit: cover;
      }

      p {
        font-size: 16px;
        font-weight: 700;
        color: var(--texto);
      }
    }

    .info_serie {
      display: grid;
      font-size: 14px;
      font-weight: 400;
      color: var(--texto);
    }

    .info_evento {
      display: grid;
      font-size: 14px;
      font-weight: 400;
      color: var(--texto);
    }
  }

  .item_tabela:hover {
    box-shadow: var(--strong-shadow);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {

  .header_series,
  .header_eventos {
    display: none;
  }

  .lista_tabela {
    .item_tabela {
      grid-template-columns: 1fr;

      .info_personagem {
        p {
          font-size: 14px;
        }
      }

      .info_serie {
        display: none;
      }

      .info_evento {
        display: none;
      }
    }
  }
}