.comic_item {
  margin-bottom: 16px;
  padding: 20px 24px;
  border-radius: 4px;
  box-shadow: var(--shadow);
  background-color: var(--sub-background);
  color: var(--texto);

  h3 {
    margin: 0px;
    font-size: 24px;
  }
}

.comic_info{
  display: flex;
  gap: 16px;
  color: var(--subtexto);
}

.botoes_comic {
  display: flex;
  gap: 12px;
  margin-top: 16px;

  button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background-color: var(--orange);
    }

    &:disabled {
      background-color: var(--smoke);
      cursor: not-allowed;
    }
  }
}

@media screen and (max-width: 800px) {
  .comic_item {
    padding: 16px 20px;

    h3 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }

  .comic_info{
    display: grid;
  }
}