@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: PT Sans, sans-serif;
  background-color: var(--background);
}

:root{
  --white: #FFFFFF;
  --black: #202024;
  --snow: #F5F5F5;
  --dark-snow: #E5E5E5;
  --smoke: #8E8E8E;
  --dark-smoke: #555555;
  --dark-blue: #167ABC;
  --light-grey: #00000033;
  --orange: #E16F10;

  --shadow: 0px 0px 5px var(--light-grey);
  --strong-shadow: 0px 4px 10px var(--light-grey);
  --background: var(--dark-snow);
  --texto: var(--dark-smoke);
  --subtexto: var(--smoke);
  --sub-background: var(--white);

  --logo-inteira: url(./assets/objective_light.svg);
  --logo-comprimida: url(./assets/favicon.svg);
}

[data-theme="dark"] {
  --background: var(--black);
  --texto: var(--white);
  --subtexto: var(--snow);
  --sub-background: var(--dark-smoke);
  --logo-inteira: url(./assets/objective_dark.svg);
  --logo-comprimida: url(./assets/favicon_light.svg);
}

.skeleton {
  background-color: var(--smoke);
  border-radius: 4px;
  padding: 10px;
  animation: pulse 1.5s infinite;
  height: 10vh;
}