.paginacao_container {
    display: flex;
    justify-content: center;
    padding: 26px 0px;
    gap: 16px;
    background-color: var(--white);

    button {
        border: 1px solid var(--dark-snow);
        background-color: var(--snow);
        color: var(--dark-smoke);
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    .pagina_ativa {
        background-color: var(--dark-blue) !important;
        color: var(--white)
    }
}

@media (max-width: 800px) {
    .paginacao_container {
        gap: 8px;
        button {
            padding: 8px 12px;
        }
        .pagina_ativa {
            background-color: var(--dark-blue) !important;
            color: var(--white)
        }
    }
}